<div class="box-padding">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <div class="mb-5">
            <h3>เปลี่ยนรหัสผ่าน</h3>
          </div>
          <form
            [formGroup]="formChangePassword"
            (ngSubmit)="formChangePassword.valid ? onChangePassword() : ''"
          >
            <div class="mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ชื่อผู้ใช้งาน</mat-label>
                <input
                  matInput
                  placeholder=""
                  type="text"
                  formControlName="username"
                  readonly
                />
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline">
                <mat-label>รหัสผ่านเดิม</mat-label>
                <input
                  matInput
                  placeholder=""
                  type="password"
                  formControlName="oldPassword"
                />
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline">
                <mat-label>รหัสผ่านใหม่</mat-label>
                <input
                  matInput
                  placeholder=""
                  type="password"
                  formControlName="password"
                />
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
                <input
                  matInput
                  placeholder=""
                  type="password"
                  formControlName="re_password"
                />
              </mat-form-field>
            </div>

            <div style="margin-top: 20px;" class="text-center mb-1">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formChangePassword.invalid"
              >
                ตกลง
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
