.router-active {
  color: #007bff !important;
  font-weight: bold;
  background-color: #eaeaea;
  border-bottom: 3px solid #007bff;
  opacity: 1 !important;
}

.mat-tab-link {
  color: black;
  opacity: 1 !important;
}

.mat-tab-link:hover {
  text-decoration: unset !important;
}
